
.title-center {
    margin: 0 auto;
}

.flex-container{
    display: flex;
    flex-flow: row wrap;
   // flex-direction: row;
  //  flex-wrap: wrap;

    justify-content: space-evenly;
}


@media all and (max-width : 800px){
    .flex-container {
        justify-content: flex-start;
    }
}
.flex-item-avoid-overlap{
    flex: 1 0 auto;
    text-align: center;
}


.flex-item {
    margin-top: 5px;
    text-align : center;
    line-height: 50px;

}

.flex-item-radio-button {
    margin-top : 10px;
    flex: 1 0 auto;
    text-align: center;
}

.flex-item-right {
    margin-top: 5px;
    text-align : right;
    line-height: 50px;
}

  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
    margin-top: 15px;
  } 

  
.card {
    text-align: center;
    width:  100%;
    height: 100%;
    box-sizing: border-box;
}


.card-right{
    max-width: 300px;
    margin-bottom: 50px;
    float: right;
}


 .label {
     text-align: left;
 }

 .mat-tooltip {
     font-size: 16px !important;
     background-color:  rgb(85, 76, 94) !important;
 }

 .mat-option {
     font-size: 12px !important;
 }

.autocomplete-governingbody-class{
    min-width: 100px;
    max-width: 250px;
    width: 100%;
}

.autocomplete-type-class{
    min-width: 100px;
    max-width: 200px;
    width: 100%;
}

.mat-multi-select-class{
    min-width: 100px ;
    max-width: 250px;
    width: 100%;
}

.multiple-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }

  .flex-item-radio-button{
      display: flex;
     flex-direction: column;

  }