
<mat-toolbar color="primary">
  <span class="title-center">Metadata Form</span> 
  </mat-toolbar>
 <ngx-loading [show]="loading" [config]="{backdropBorderRadius : '14px'}"></ngx-loading>
<div *ngIf="isDataLoaded">
<mat-card class="card">
  <mat-card-title></mat-card-title>
  <mat-card-content>
<div class="flex-container"
     fxLayout
      fxLayout.xs="column"
      fxLayoutGap.xs="0">
  <div class="flex-item-avoid-overlap">
      <mat-form-field>
          <mat-select name="author" id="author" placeholder="Authored By" 
          (selectionChange)="setValueForXmetal(authorsControl,'author')" [formControl]="authorsControl" matTooltip="{{getToolTipSingleValueData(authorsControl)}}" >
            <mat-option *ngFor="let author of authors" [value]="author">{{author.description}}</mat-option>
          </mat-select>
        </mat-form-field>
  </div>
  <div class="flex-item-avoid-overlap">
      <mat-form-field>
          <mat-select id="industry" placeholder="Industry" 
          (selectionChange)="setValueForXmetal(industriesControl,'industry')"  [formControl]="industriesControl"  matTooltip="{{getToolTipSingleValueData(industriesControl)}}" >
            <mat-option *ngFor="let industry of industries"  [value]="industry"   >{{industry.description}}</mat-option>
          </mat-select>
        </mat-form-field>
  </div>
  <div class="flex-item-avoid-overlap">
      <mat-form-field>
          <mat-select id="product" placeholder="Product" [formControl]="productsControl"  
          (selectionChange)="setValueForXmetal(productsControl,'product')"  matTooltip="{{getToolTipSingleValueData(productsControl)}}" >
            <mat-option *ngFor="let product of products" [value]="product" >{{product.description}}</mat-option>
          </mat-select>
        </mat-form-field>
  </div>
  <div class="flex-item-avoid-overlap">
      <mat-form-field class="autocomplete-governingbody-class">
          <input type="text" id="governing" name="governingbody" placeholder="Governing Body" 
          (ngModelChange)="setValueForXmetal(governingBodiesControl,'governing')" aria-label="Governing Body" matInput [formControl]="governingBodiesControl"   [matAutocomplete]="governing">
            <mat-autocomplete #governing="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let governingBody of filteredGoverningBodies | async" 
               [value]="governingBody" matTooltip="{{governingBody.description}}" >{{governingBody.description}}</mat-option>
            </mat-autocomplete>
        </mat-form-field>
  </div>
  </div>
  </mat-card-content>
</mat-card>
<mat-card class="card">
    <mat-card-content>
  <div class="flex-container"
       fxLayout
        fxLayout.xs="column"
        fxLayoutGap.xs="0">
    <div class="flex-item-avoid-overlap">
        <mat-form-field>
            <input type="text" id="contenttype" placeholder="Content Type"  matInput [formControl]="contentTypesControl" 
            (ngModelChange)="setValueForXmetal(contentTypesControl,'contenttype')"  [matAutocomplete]="contenttype">
            <mat-autocomplete #contenttype="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let contentType of filteredContentTypes | async" 
               [value]="contentType">{{contentType.description}}</mat-option>
            </mat-autocomplete>
          </mat-form-field>
    </div>
    <div class="flex-item-avoid-overlap">
        <mat-form-field class="autocomplete-contentsubtype-class">
            <input type="text" id="contentsubtype" placeholder="Content Sub Types"  matInput [formControl]="contentSubTypesControl" 
            (ngModelChange)="setValueForXmetal(contentSubTypesControl,'contentsubtype')"  [matAutocomplete]="contentsubtype">
            <mat-autocomplete #contentsubtype="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let contentSubType of filteredContentSubTypes | async" 
               [value]="contentSubType">{{contentSubType.description}}</mat-option>
            </mat-autocomplete>
          </mat-form-field>
    </div>
    <div class="flex-item-avoid-overlap">
        <mat-form-field>
            <input type="text" id="geography" placeholder="Geography" aria-label="Geography" matInput [formControl]="geographyControl"
            (ngModelChange)="setValueForXmetal(geographyControl,'geography')"  [matAutocomplete]="geography">
            <mat-autocomplete #geography="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let geography of filteredGeographies | async" [value]="geography">{{geography.description}}</mat-option>
            </mat-autocomplete>
          </mat-form-field>
    </div>
    <div class="flex-item-avoid-overlap">
        <mat-form-field>
            <input type="text" id="templatetype" placeholder="Template Type" aria-label="Template Type" matInput [formControl]="templateTypeControl"
            (ngModelChange)="setValueForXmetal(templateTypeControl,'templatetype')" [matAutocomplete]="templatetype">
            <mat-autocomplete #templatetype="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let templateType of filteredTemplateTypes | async" [value]="templateType">{{templateType.description}}</mat-option>
            </mat-autocomplete>
          </mat-form-field>
    </div>
    </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-content>
      <div class="flex-container"
      fxLayout
      fxLayout.xs="row"
      fxLayoutAlign="center"
      fxLayoutGap.xs="0">
      <div  class="flex-item" fxFlex="20%">
          <mat-form-field  class="mat-multi-select-class" >
              <mat-select  id="area" placeholder="Areas" [formControl]="areasControl" 
              (selectionChange)="setMultiValueForXmetalFields(areasControl,'area')"  matTooltip="{{getToolTipData(areasControl)}}"  multiple>
                 <mat-select-trigger>
                     {{displayFirstValue(areasControl.value)}}
                      <span *ngIf="areasControl.value?.length > 1" class="multiple-additional-selection">
                        (+{{areasControl.value.length - 1}} {{areasControl.value?.length === 2 ? 'other' : 'others'}})
                      </span>
                    </mat-select-trigger>  
                <mat-option *ngFor="let area of areas" [value]="area" >{{area.description}}</mat-option>
              </mat-select>
            </mat-form-field>
    </div>
    <div  class="flex-item" fxFlex="20%" >
      <mat-form-field >
          <input matInput name="effectiveDate" id="effectiveDate" [matDatepicker]="effectiveDate" [formControl]="effectiveDateControl"  placeholder="Effective Date">
          <mat-datepicker-toggle matSuffix [for]="effectiveDate"></mat-datepicker-toggle>
          <mat-datepicker #effectiveDate></mat-datepicker>
        </mat-form-field>
  </div>
  <div class="flex-item-right" fxFlex="10%">
    <label for="promoted">Promoted    </label>
  </div>
  <div class="flex-item" fxFlex="10%" >
  <mat-radio-group  id="promoted" (change)="setValueForXmetal(promotedControl,'promoted')" [formControl] = "promotedControl">
      <mat-radio-button value="1">Yes</mat-radio-button>
      <mat-radio-button value="0">No</mat-radio-button>
  </mat-radio-group>
  </div>
    </div>
    </mat-card-content>
  </mat-card>
<mat-card class="card">
    <mat-card-content>
 
  <div class="flex-container"
  fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="0.5%"
  fxLayoutGap.xs="0" >
  <div class="flex-item" fxFlex="20%">
    <mat-form-field class="mat-multi-select-class" >
        <mat-select id="subarea" placeholder="Sub Areas" [formControl]="subAreasControl"
        (selectionChange)="setMultiValueForXmetalFields(subAreasControl,'subarea')"  matTooltip="{{getToolTipData(subAreasControl)}}" multiple>
        <mat-select-trigger>
                {{displayFirstValue(subAreasControl.value)}}
                 <span *ngIf="subAreasControl.value?.length > 1" class="multiple-additional-selection">
                   (+{{subAreasControl.value.length - 1}} {{subAreasControl.value?.length === 2 ? 'other' : 'others'}})
                 </span>
               </mat-select-trigger> 
          <mat-option *ngFor="let subarea of subAreas" [value]="subarea">{{subarea.description}}</mat-option>
        </mat-select>
      </mat-form-field>
</div>
  
    <div class="flex-item" fxFlex="20%">
        <mat-form-field>
            <input matInput name="purgeDate" id="purgeDate" [matDatepicker]="purgeDate" [formControl]="purgeDateControl" placeholder="Purge Date">
            <mat-datepicker-toggle matSuffix [for]="purgeDate"></mat-datepicker-toggle>
            <mat-datepicker #purgeDate></mat-datepicker>
          </mat-form-field>
    </div>

    <div class="flex-item-right" fxFlex="10%">
        <label for="mandatory">Mandatory    </label>
    </div>
    <div class="flex-item" fxFlex="10%">
        <mat-radio-group  id="mandatory"  (change)="setValueForXmetal(mandatoryControl,'mandatory')"  [formControl] = "mandatoryControl">
            <mat-radio-button value="1">Yes</mat-radio-button>
            <mat-radio-button value="0">No</mat-radio-button>
        </mat-radio-group>
    
    </div>
</div>

</mat-card-content>
</mat-card>
<div>
  <input type="hidden" id="xmetalAuthor" [value]="xmetalAuthor" />
  <input type="hidden" id="xmetalArea" [value]="xmetalArea" />
  <input type="hidden" id="xmetalSubarea" [value]="xmetalSubarea" />
  <input type="hidden" id="xmetalContentSubtype" [value]="xmetalContentSubtype" />
  <input type="hidden" id="xmetalContentType" [value]="xmetalContentType" />
  <input type="hidden" id="xmetalGeography" [value]="xmetalGeography" />
  <input type="hidden" id="xmetalGoverningbody" [value]="xmetalGoverningbody" />
  <input type="hidden" id="xmetalIndustries" [value]="xmetalIndustries" />
  <input type="hidden" id="xmetalMandatory" [value]="xmetalMandatory" />
  <input type="hidden" id="xmetalProduct" [value]="xmetalProduct" />
  <input type="hidden" id="xmetalPromoted" [value]="xmetalPromoted" />
  <input type="hidden" id="xmetalTemplatetype" [value]="xmetalTemplatetype" />

</div>

</div>